<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.finance.finance">

    <!--
    Icon from https://www.iconfinder.com/icons/2250033/cash_fees_money_purse_shop_spend_wallet_icon#size=256
    Under Licence: CC BY 3.0 (https://creativecommons.org/licenses/by/3.0/)
    Author must be credited somewhere (just in source code or in the app?)
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_256"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_256"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivity" />
        <activity android:name=".InOutPermsActivity" />
    </application>

</manifest>